.topnav {
    background-color: darkseagreen;
    overflow: hidden;
    width: auto;
}

.topnav a{
    float: right;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color: darkseagreen;
}

.logo{
    max-width: 100px;
    height:auto;
    display:inline-block;
    vertical-align:middle;
}

body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.item img {
    max-width: 100%;
    border-radius: 8px;
}

.cart {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: darkseagreen;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: black;
    color: darkseagreen;
}

