.topnav {
    background-color: darkseagreen;
    overflow: hidden;
    width: auto;
}

.topnav a{
    float: right;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color: darkseagreen;
}

.logo{
    max-width: 100px;
    height:auto;
    display:inline-block;
    vertical-align:middle;
}

.catch, .title, .software {
    text-align: center;
    width: auto;
    padding: 10px 16px;
    margin-top: 20px; 
}

.title {
    font-size: 35px;
    color: black; 
}

.catch {
    font-size: 25px;
    color: darkseagreen; 
}

.software {
    font-size: 25px;
    color: darkseagreen; 
}

.LifeLingo_Glasses { /* video of glasses play on autoplay*/
    display: block;
    margin: 0 auto; 
    margin-top: 10px; 
    max-width: 80%; 
    width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.h1{
    text-align: center;
}

.try-but a{
    text-decoration: none;
}

.try-but {
    display: block;
    margin: 20px auto 0; 
    text-align: center; 
}

.try-but button {
    display: inline-block; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkseagreen;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
}

.try-but button:hover {
    background-color: #000000;
    color: darkseagreen;
    text-decoration: none;
}


.contact-title{
    text-align: center;
    margin-top: 50px;
    color: darkseagreen;
    margin-top: 60px;
}

.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22.5px;
}

.contact-us2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkseagreen;
    margin-top: 60px;
}

.contact-us2 .platform-action {
    margin-bottom: 30px;
    text-align: left;
    font-size: 20px;
}

.contact-us2 form {
    width: 100%;
    max-width: 400px;
}

.contact-us2 label {
    display: block;
    margin-bottom: 5px;
}

.contact-us2 input[type="text"],
.contact-us2 input[type="email"],
.contact-us2 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-us2 textarea {
    height: 150px;
}

.contact-us2 button {
    background-color: darkseagreen;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-us2 button:hover {
    background-color: black;
    color: darkseagreen
}

.campus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    margin-top: 50px;
    border-radius: 5px;
}

.about {
    width: 80%;
    margin: 0px;;
}

.about-us-title {
    width: 65%; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22.5px;
    color: darkseagreen;
}

.floating-paragraph {
    width: 65%; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22.5px;
}

.who-we-are {
    width: 80%;
    margin: 0px;
}

.who-we-are {
    width: 65%; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22.5px;
    color: darkseagreen;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    width:300px;
    background-color: darkseagreen;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0px 2px 4px darkseagreen;
    margin:auto;
    margin-bottom: 50px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content h1{
    font-size: 17.5px;

}

.card-content p{
    color: black;
    margin-top: 10px;
    font-size:15px;
    line-height: 1.3;

}

@media (min-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    
    .top-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .bottom-row {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
