.topnav {
    background-color: darkseagreen;
    overflow: hidden;
    width: auto;
}

.topnav a{
    float: right;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color: darkseagreen;
}

.logo{
    max-width: 100px;
    height:auto;
    display:inline-block;
    vertical-align:middle;
}

.catch, .title, .software {
    text-align: center;
    width: auto;
    padding: 10px 16px;
    margin-top: 20px; 
}

.title {
    font-size: 35px;
    color: black; 
}

.catch {
    font-size: 25px;
    color: #8fbc8f; 
}

.software {
    font-size: 25px;
    color: darkseagreen; 
}

.LifeLingo_Glasses { /* video of glasses play on autoplay*/
    display: block;
    margin: 0 auto; 
    margin-top: 10px; 
    max-width: 80%; 
    width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.h1{
    text-align: center;
}

.try-but a{
    text-decoration: none;
}

.try-but {
    display: block;
    margin: 20px auto 0; 
    text-align: center; 
}

.try-but button {
    display: inline-block; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: darkseagreen;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
}

.try-but button:hover {
    background-color: #000000;
    color: darkseagreen;
    text-decoration: none;
}


.contact-title{
    text-align: center;
    margin-top: 50px;
    color: darkseagreen;
    margin-top: 60px;
}

.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22.5px;
}

.contact-us2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkseagreen;
    margin-top: 60px;
}

.contact-us2 .platform-action {
    margin-bottom: 30px;
    text-align: left;
    font-size: 20px;
}

.contact-us2 form {
    width: 100%;
    max-width: 400px;
}

.contact-us2 label {
    display: block;
    margin-bottom: 5px;
}

.contact-us2 input[type="text"],
.contact-us2 input[type="email"],
.contact-us2 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-us2 textarea {
    height: 150px;
}

.contact-us2 button {
    background-color: darkseagreen;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-us2 button:hover {
    background-color: black;
    color: darkseagreen
}

.campus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    margin-top: 50px;
    border-radius: 5px;
}

.about {
    width: 80%;
    margin: 0px;;
}

.about-us-title {
    width: 65%; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22.5px;
    color: darkseagreen;
}

.floating-paragraph {
    width: 65%; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22.5px;
}

.who-we-are {
    width: 80%;
    margin: 0px;
}

.who-we-are {
    width: 65%; 
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22.5px;
    color: darkseagreen;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    width:300px;
    background-color: darkseagreen;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0px 2px 4px darkseagreen;
    margin:auto;
    margin-bottom: 50px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content h1{
    font-size: 17.5px;

}

.card-content p{
    color: black;
    margin-top: 10px;
    font-size:15px;
    line-height: 1.3;

}

@media (min-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    
    .top-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .bottom-row {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.LifeLingo_Glasses {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -100;
}

.wrapper {
    position: relative;
    margin-left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(143, 188, 143, 0.5);
    border-radius: 20px; 
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: darkseagreen;
    font-size: 2em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: darkseagreen;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid darkseagreen;
    margin: 30px 0; 
}

.input-box label {
    position:absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.125em;
    color: darkseagreen;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: darkseagreen;
    margin-right: 5px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: darkseagreen
}

.btn {
    width: 100%;
    height: 45px;
    background: darkseagreen;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin-top: 25px;
}

.login-register p a {
    color: darkseagreen;
    text-decoration: none;
}

.login-register p a:hover {
    text-decoration: underline;
}